@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    We are committed to protecting your privacy. To ETH Zurich the protection not only of your personal but the safety and security
    of all data that flows through our institution is important. As part of this effort, we process personal data in accordance with
    the Swiss Data Protection Law and, where applicable, with EU’s General Data Protection Regulation ("GDPR"). This Privacy Policy
    may change from time to time. Please feel free to contact us at <a href="mailto:ds@ethz.ch">ds@ethz.ch</a> if you have any questions about our Privacy Policy,
    or if you need more information than we have shown here. Alternatively, you can reach us at our postal address: ETH Zurich,
    Legal Service (Datenschutz), Rämistrasse 101, CH-8092 Zürich, Switzerland
</p>
<p>
    End of the Privacy Policy. Last revision: October 2018.
</p>

<h4>Cookies</h4>
<p>
    This website uses cookies. Cookies are small text files that are stored permanently or temporarily on your computer when you visit this website.
    Their main function is to analyse how a website is used, both for statistical evaluation and to help continually improve the site.
    You can set your browser to partly or completely deactivate cookies at any time; once cookies have been deactivated, however, some
    features of this website may not function properly.
</p>