.clocignore
.dockerignore
.git
.github
.gitignore
.gitlab-ci.yml
.pre-commit-config.yaml
.pytest_cache
.ruff_cache
.venv
Dockerfile
_docker-compose-debug.yaml
build_all_wheels.sh
dist
docker-compose.yaml
netifaces-0.10.6
projects
rebuild_and_restart.sh
uv.lock
venv
